{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_logout') }}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
    <a href="{{ path('app_login') }}">Connexion</a>
    <a href="{{ path('app_register') }}">Inscription</a>
    {% endif %}

    <h1>HOME</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Hello {{ app.user.firstName }} ! Je suis ravie de te voir parmis nous ! Prêt(e) pour l'entrainement du jour ?
    </p>
    {% endif %}
</div>
{% endblock %}